<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/scripts/100-hbnb.js?{{ cache_id }}"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
</head>
<body>
    <!-- Your HTML content here -->
    <header>
        <div id="api_status" class="available"></div>
    </header>
    <ul class="states">
        <li><input type="checkbox" data-id="1" data-name="California"> California</li>
        <li><input type="checkbox" data-id="2" data-name="New York"> New York</li>
        <!-- Add more states here -->
    </ul>
    <ul class="cities">
        <li><input type="checkbox" data-id="1" data-name="San Francisco"> San Francisco</li>
        <li><input type="checkbox" data-id="2" data-name="Los Angeles"> Los Angeles</li>
        <!-- Add more cities here -->
    </ul>
    <button id="filter-btn">Filter Places</button>
    <section class="places">
        <!-- Places will be dynamically added here -->
    </section>
</body>
</html>
