<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/scripts/101-hbnb.js?{{ cache_id }}"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
</head>
<body>
    <!-- Your HTML content here -->
    <header>
        <div id="api_status" class="available"></div>
    </header>
    <h2>Reviews <span id="toggle-reviews">show</span></h2>
    <section class="reviews">
        <!-- Reviews will be dynamically added here -->
    </section>
</body>
</html>
